<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartNove - Chatbot</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/icon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="wrapper">
        <div class="title">SmartNove</div>
        <div class="box" id="messages">
            <div class="item">
                <div class="icon">
                    <img src="{{ url_for('static', filename='assets/images/icon.png') }}" alt="icon" />
                </div>
                <div class="msg">
                    <p>SmartNove à disposição!</p>
                </div>
            </div>
            <br clear="both" />
        </div>

        <div class="typing-area">
            <div class="input-field">
                <input id="userInput" type="text" placeholder="Digite sua mensagem" autocomplete="off" />
                <button id="sendBtn">Enviar</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>